body {
  height: 400vh;
}
#root {
  position: relative;
}
.App {
  height: 100%;
}

.App {
  width: calc(100vw - (100vw - 100%));
  height: calc(100vh - (100vh - 100%));
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: inline-block;
  padding: .5rem;
}